<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../vaadin-text-field/vaadin-text-field.html">

<dom-module id="abas-text-field">
  <script>
    /**
     * `abas-text-field`
     * Text Field used by abas
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AbasTextField extends Vaadin.TextFieldElement {
      static get is() { return 'abas-text-field'; }
    }

    window.customElements.define(AbasTextField.is, AbasTextField);
    /**
     * @namespace WebClient
     */
    window.WebClient = window.WebClient || {};
    WebClient.AbasTextField = AbasTextField;
  </script>
</dom-module>