<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../vaadin-text-field/vaadin-text-area.html">

<dom-module id="abas-text-area">
  <script>
    /**
     * `abas-text-area`
     * Text area used by abas
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AbasTextArea extends Vaadin.TextAreaElement {
      static get is() { return 'abas-text-area'; }
    }

    window.customElements.define(AbasTextArea.is, AbasTextArea);
    /**
     * @namespace WebClient
     */
    window.WebClient = window.WebClient || {};
    WebClient.AbasTextArea = AbasTextArea;
  </script>
</dom-module>